@font-face {
  font-family: Circular;
  src: url("./fonts/circular-std-medium-500.ttf");
}
* {
  box-sizing: border-box;
  font-family: Circular;
}
.container {
  width: 85%;
  margin: 0 auto;
}
@media (max-width: 880px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}
